<h2>💬 Get in touch:</h2>
<ul>
  <li><a href="mailto:andylynnparker@gmail.com">andylynnparker@gmail.com</a></li>
  <li><a href="https://www.linkedin.com/in/andy-parker-5b3725b/">LinkedIn</a></li>
</ul>
<p><small><span class="serif">&copy;</span> Andy Parker</small></p>
