.serif {
  font-family: var(--font-family-serif);
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.resume {
  display: flex;
  flex-direction: column;

  #resume-pdf {
    width: 100%;
    height: 100%;
  }
}

strong {
  &.strong {
    font-weight: 500;
  }
  &.stronger {
    font-weight: 700;
  }
  &.strongest {
    font-weight: 900;
  }
}
