---
title: "Asana: Home Page"
subhead: I worked at Asana.
startdate: 201704
tags: 
- portfolio
- project
- asana
section: portfolio
featured_image: /assets/portfolio/asana-home-page-1.webp
assets:
  baseDir: /assets/portfolio
  images:
    - name: asana-home-page-0.webp
      description: >
        Asana Home Page
    - name: asana-home-page-6.webp
      description: >
        Asana Home Page
    - name: asana-home-page-2.webp
      description: >
        Asana Home Page
    - name: asana-home-page-4.webp
      description: >
        Asana Home Page
    - name: asana-home-page-3.webp
      description: >
        Asana Home Page
    - name: asana-home-page-7.webp
      description: >
        Asana Home Page
    - name: asana-home-page-5.webp
      description: >
        Asana Home Page
    - name: asana-home-page-1.webp
      description: >
        Asana Home Page
---

<h2>Asana.com</h2>

<p>To overhaul the company’s homepage, I worked closely with the creative director, the head of web experience, the CMO, and of course my design partner. Ultimately, I landed on a simple strategy for copy: to draw visitors into the product. This homepage aims to show the audience how Asana solves the problems they care about most. This version of the site was active for about four years (2019-2022) before being redesigned.</p>

<section class="asana-home-page">
  <picture>
    <img src="{{assets.baseDir }}/asana-home-page-full.webp" alt="{{ asset.description }}" />
  </picture>
</section>
