---
title: Asana Brand Campaign
subhead: I worked at Asana.
description: 
startdate: 201704
tags: 
- portfolio
- project
- asana
section: portfolio
featured_image: /assets/portfolio/asana-brand-campaign-2.webp
assets:
  baseDir: /assets/portfolio
  images:
    - name: asana-brand-campaign-0.webp
      description: >
        Asana Brand Campaign
    - name: asana-brand-campaign-1.webp
      description: >
        Asana Brand Campaign
    - name: asana-brand-campaign-2.webp
      description: >
        Asana Brand Campaign
    - name: asana-brand-campaign-3.webp
      description: >
        Asana Brand Campaign
    - name: asana-brand-campaign-4.webp
      description: >
        Asana Brand Campaign
---

<h2>Campaign: We stand for teams</h2>

<p>In January of 2020 Asana launched its biggest brand campaign ever. I worked alongside my creative director to provide creative and copy direction to our agency partner and, ultimately, write the headlines and brand manifesto featured here.</p>

<p>We ran print ads in the New York Times and Washington Post. We took over the digital billboards in Times Square. We covered the walls of the Montgomery Street BART station in San Francisco. Our ads appeared on busses, at bus stops, on billboards and on the sides of buildings across Fog City. And, of course, we created digital ads that appeared all over the internet.</p> 

<p>And the people in these ads? They’re not just customers—they’re teams who work together in Asana and were very happy to be photographed for our campaign.</p>

{% from "portfolio.macro.njk" import imageList %}
{{ imageList(assets) }}