---
draft: true
title: "Asana: Where there’s Asana, there’s a way campaign"
subhead: I worked at Asana.
description:
startdate: 201707
tags:
- portfolio
- project
- asana
section: portfolio
featured_image:
assets:
  baseDir: /assets/portfolio
  images:
   - name:
     description: >
       Where there’s Asana, there’s a way campaign
---

<h2>Where there’s Asana, there’s a way campaign</h2>

<p>In late 2020, Asana launched another brand campaign. The goal? To position Asana as the essential business tools for remote and distributed teams to meet company goals even through disruption (like, say, a pandemic). While my creative director worked with an advertising agency to produce a 60-second commercial, I collaborated with my design partner to flesh out about 400 assets, mostly for social paid ads for top, middle, and bottom of the funnel.</p>
