---
title: Asana Home Page
subhead: I worked at Asana.
startdate: 201704
tags: 
- portfolio
- project
- asana
section: portfolio
featured_image: /assets/portfolio/asana-home-page-1.webp
assets:
  baseDir: /assets/portfolio
  images:
    - name: asana-home-page-0.webp
      description: >
        Asana Home Page
    - name: asana-home-page-6.webp
      description: >
        Asana Home Page
    - name: asana-home-page-2.webp
      description: >
        Asana Home Page
    - name: asana-home-page-4.webp
      description: >
        Asana Home Page
    - name: asana-home-page-3.webp
      description: >
        Asana Home Page
    - name: asana-home-page-7.webp
      description: >
        Asana Home Page
    - name: asana-home-page-5.webp
      description: >
        Asana Home Page
    - name: asana-home-page-1.webp
      description: >
        Asana Home Page
---

<h2>Asana.com</h2>

<p>In SaaS and design communities, Asana is well known for being an innovative brand. But the site hasn’t always done the best job of helping visitors understand what Asana is or can do for them.</p>

<p>On top of that, Asana has more competition than ever before, and it’s getting harder to tell the difference between brands. So when the time came to overhaul the asana.com homepage, the team knew we had some hefty problems to solve.</p>

<p>For this project I worked closely with the creative director, my interactive designer partner, the head of web experience, and the CMO. Our work involved a ton of research, wireframes, prototypes, conversations with customers, and tests. And a big ole waste basket of draft copy.</p>

<p>Ultimately, I landed on a simple strategy for copy: to draw visitors into the product. The homepage uses a direct but conversational voice to show our target audience how Asana supports them and solves the problems they care about most.</p>

<p>Since launching, we’ve run some tests and made a few changes.</p>

<section class="asana-home-page">
{% for asset in assets.images -%}
  <picture>
    <img src="{{assets.baseDir }}/{{ asset.name }}" alt="{{ asset.description}}" />
  </picture>
{%- endfor %}
</section>
