---
title: "Method: Power Foam Dish Soap"
subhead: I worked at Method.
startdate: 201108
tags: 
- portfolio
- project
- method
section: portfolio
featured_image: /assets/portfolio/method-power-foam-2.webp
assets:
  baseDir: /assets/portfolio
  images:
    - name: method-power-foam-0.webp
      padding: true
      description: >
        Method Power Foam Dish Soap
    - name: method-power-foam-1.webp
      padding: true
      description: >
        Method Power Foam Dish Soap
    - name: method-power-foam-2.webp
      padding: true
      description: >
        Method Power Foam Dish Soap
    - name: method-power-foam-3.webp
      padding: true
      description: >
        Method Power Foam Dish Soap
---

<h2>Power Foam Dish Soap</h2>

<p>Back in 2013, Method was gearing up for the launch of its newest product, the instantly foaming, easy-to-spray, clean-your-dishes-on-the-spot Power Foam Dish Soap. To promote it, I wrote ad and product copy for a few touchpoints, including the homepage, product page, and two email newsletters.</p>

{% from "portfolio.macro.njk" import gallery %}
{{ gallery(assets) }}
