---
title: "Method: Sweet Treats"
description: foo
subhead: I worked at Method.
startdate: 201108
tags: 
- portfolio
- project
- method
section: portfolio
featured_image: /assets/portfolio/method-sweet-treats-4.webp
assets:
  baseDir: /assets/portfolio
  images:
    - name: method-sweet-treats-0.webp
      description: >
        Method Sweet Treats
      padding: true
    - name: method-sweet-treats-1.webp
      description: >
        Method Sweet Treats
      padding: true
    - name: method-sweet-treats-2.webp
      description: >
        Method Sweet Treats
      padding: true
    - name: method-sweet-treats-3.webp
      description: >
        Method Sweet Treats
    - name: method-sweet-treats-4.webp
      description: >
        Method Sweet Treats
    - name: method-sweet-treats-5.webp
      description: >
        Method Sweet Treats
---

<h2>Method Sweet Treats</h2>

<p>One of the joys of writing for Method was spending time in the lab smelling all the latest scents. For these limited edition products, I wrote copy for packaging as well as the website.</p> 

{% from "portfolio.macro.njk" import gallery %}
{{ gallery(assets) }}
