---
title: Product, Social & Other Copy
subhead: I get around…
startdate: 197002
tags: 
- portfolio
- project
- method
- snapfish
section: portfolio
featured_image: /assets/portfolio/method-product-copy-1.webp
assets:
  baseDir: /assets/portfolio
  images:
    - name: snapfish-product-copy-0.webp
      description: >
        Snapfish Product Copy
    - name: snapfish-product-copy-1.webp
      description: >
        Snapfish Product Copy
    - name: snapfish-product-copy-2.webp
      description: >
        Snapfish Product Copy
    - name: method-packaging-0.webp
      description: >
        Method Packaging
    - name: method-packaging-1.webp
      description: >
        Method Packaging
---

<h2>Product, Packaging, and Other Copy</h2>

<p>The following examples include product descriptions for e-commerce sites (Snapfish and Method), as well as digital copies of physical product packaging, hangtags, and a coupon (Method).</p> 

{% from "portfolio.macro.njk" import gallery %}
{{ gallery(assets) }}
