---
title: "Sephora: Spec Work"
subhead: I tried to work at Sephora.
startdate: 201101
tags: 
- portfolio
- project
- sephora
section: portfolio
featured_image: /assets/portfolio/sephora-eye-lashes.jpg
assets:
  baseDir: /assets/portfolio
  images:
    - name: sephora-eye-lashes.webp
      padding: true
      description: >
        Sephora Spec Work
    - name: sephora-full-face.webp
      padding: true
      description: >
        Sephora Spec Work
    - name: sephora-red-lipstick.webp
      padding: true
      description: >
        Sephora Spec Work
    - name: sephora-matte-lipstick.webp
      padding: true
      description: >
        Sephora Spec Work
---

<h2>Sephora Spec Work</h2>

<p>When I first moved to San Francisco, I <strong class="strong">really</strong>, <strong class="stronger">really</strong>, <strong class="strongest">really</strong> wanted to work at Sephora’s corporate HQ writing ad copy. So I designed and wrote the copy for these ads to submit with my application. I may have gone overboard with the alliteration.</p>

{% from "portfolio.macro.njk" import gallery %}
{{ gallery(assets) }}
