---
draft: true
title: Sephora Spec Work
subhead: I tried to work at Sephora.
startdate: 201101
tags: 
- portfolio
- project
- sephora
section: portfolio
featured_image: /assets/portfolio/sephora-eye-lashes.jpg
assets:
  baseDir: /assets/portfolio
  images:
    - name: sephora-eye-lashes.webp
      padding: true
      description: >
        Sephora Spec Work
    - name: sephora-full-face.webp
      padding: true
      description: >
        Sephora Spec Work
    - name: sephora-red-lipstick.webp
      padding: true
      description: >
        Sephora Spec Work
    - name: sephora-matte-lipstick.webp
      padding: true
      description: >
        Sephora Spec Work
---

<h2>Sephora Spec Work</h2>

{% from "portfolio.macro.njk" import gallery %}
{{ gallery(assets) }}
