---
title: "Snapfish: Ad Copy"
subhead: I worked at Snapfish.
startdate: 201509
tags: 
- portfolio
- project
- snapfish
section: portfolio
featured_image: /assets/portfolio/snapfish-ad-copy-6.webp
assets:
  baseDir: /assets/portfolio
  images:
    - name: snapfish-ad-copy-0.webp
      description: >
        Snapfish Ad Copy
    - name: snapfish-ad-copy-1.webp
      description: >
        Snapfish Ad Copy
    - name: snapfish-ad-copy-2.webp
      description: >
        Snapfish Ad Copy
    - name: snapfish-ad-copy-3.webp
      description: >
        Snapfish Ad Copy
    - name: snapfish-ad-copy-4.webp
      description: >
        Snapfish Ad Copy
    - name: snapfish-ad-copy-5.webp
      description: >
        Snapfish Ad Copy
    - name: snapfish-ad-copy-6.webp
      description: >
        Snapfish Ad Copy
---

<h2>Snapfish Ad Copy</h2>

<p>Snapfish is an online retailer that helps customers turn their photos into personal décor, photo books, mugs, gifts, and more. These website banner ads promote specific offers, products, and even occasions. I generally tried to write short, emotional headlines to get readers’ attention while using body copy to emphasize the offer.</p>

{% from "portfolio.macro.njk" import gallery %}
{{ gallery(assets) }}
