---
layout: 
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset
  xmlns="https://www.sitemaps.org/schemas/sitemap/0.9"
  xmlns:xhtml="https://www.w3.org/1999/xhtml"
  xmlns:mobile="https://www.google.com/schemas/sitemap-mobile/1.0"
>
{%- for page in collections.all -%}
{%- if not page.data.draft %}
<url>
  <loc>{{ site.url }}{{ page.url | url }}</loc>
  <changefreq>monthly</changefreq>
</url>
{%- endif -%}
{%- endfor %}
</urlset>
